@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 4px; /* 设置滚动条的宽度 */
}

::-webkit-scrollbar-thumb {
	background-color: #888; /* 设置滚动条滑块的颜色 */
	border-radius: 10px; /* 设置滚动条滑块的圆角 */
}

::-webkit-scrollbar-thumb:hover {
	background-color: #2222225f; /* 设置滚动条滑块在悬停时的颜色 */
}

::-webkit-scrollbar-track {
	background-color: #020000; /* 设置滚动条背景的颜色 */
}

@layer base {
	body {
		@apply bg-main-800 h-screen overflow-y-hidden;
	}

	h1 {
		@apply text-main-100 text-4xl;
	}
	link {
		@apply text-white underline underline-offset-4;
	}
	label {
		@apply text-white block mb-2 text-sm font-medium;
	}
	input {
		@apply outline-2 -outline-offset-2 bg-gray-50  border-gray-300 text-sm rounded-lg focus:ring-0  block w-full p-2.5;
	}
	textarea {
		@apply outline-2 -outline-offset-2 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300;
	}
	select {
		@apply appearance-none outline-2 -outline-offset-2  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5;
		/* Create another arrow for the select with css only */
		background-image: linear-gradient(45deg, transparent 50%, black 50%),
			linear-gradient(135deg, black 50%, transparent 50%);
		background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
		background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
		background-repeat: no-repeat;
	}
	button {
		@apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5;
	}
}

@layer components {
	.icon-box {
		@apply text-white text-xs rounded-lg border-2 border-main-700 w-16 h-16 hover:bg-main-500 flex justify-center items-center cursor-pointer;
	}
}
